@charset "utf-8";
/*英語フォント
font-family: "m-plus-2c", sans-serif;
font-weight: 700;
font-style: normal;
font-family: "a-otf-ud-reimin-pr6n", sans-serif;
font-weight: 300;
font-style: normal;

font-family: "a-otf-ud-reimin-pr6n", sans-serif;
font-weight: 300;
font-style: normal;
*/
:root {
  --black: #2D2D2B;
  --Hcolor: #ff8534;
  --Ccolor: #215EC6;
  --Jcolor: #DBC530;
  --bgc: #F2F2ED;
  --h2: 1.4rem;
}



body {
  background: var(--bgc);
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
}

article {
  margin-bottom: 500px;
  padding-top: 100px;
}

article:first-child {
  position: relative;
  top: 100px;
}

article:last-child {
  margin-bottom: 0;
}


article h1 {
  margin-left: 50px;
}

.test {
  color: var(--bgc);
}





#pagination {
  position: fixed;
  top: -150px;
  z-index: 100;
  background-color: var(--bgc);
}


#pagination > ul{
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

#pagination > ul > li {
  width: 15%;
  padding: 16px 0;
  text-align: center;
}

.minNav span{
  font-size: 1.2rem;
  margin-bottom: 8px;
  
}

.Hnow {
  color: var(--Hcolor);
  border-bottom: solid 2px var(--Hcolor);
}

.Cnow {
  color: var(--Ccolor);
  border-bottom: solid 2px var(--Ccolor);
}

.Jnow {
  color: var(--Jcolor);
  border-bottom: solid 2px var(--Jcolor);
}

.H_PointNow {
  border: solid 1px var(--Hcolor);
  color: var(--Hcolor);
}

.minNav > ul {
  position: relative;
  left: 50%;
  margin-top: 10px;
}

 .minNav > ul li{
  font-size: 0.9rem;
  text-align: start;
}

.minNav > ul li + li {
  margin-top: 5px;
}




.bgContent {
  background-image:linear-gradient(rgb(203, 203, 203) 0px, transparent 1px), linear-gradient(90deg, rgb(203, 203, 203) 0px, transparent 1px);
  background-size: 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  min-height: 100%;
  width: 100%;
  animation: bgAnime 200s linear infinite;
}

@keyframes bgAnime {
	0% { background-position: 50% 0%; }
	100% { background-position: 50% 100%; }
}



#HomeArticle a {
  display: inline-block; /* もしくは`display:block;` */
}







#HomeArticle h1{
  font-size: 8rem;
  letter-spacing: .1em;
  color: var(--black);
}

#HomeArticle .kinds{
  margin: 24px 0 0 32px;
  display: flex;
  justify-content: flex-start;
}

#HomeArticle .kinds li+li {
  margin-left: 50px;
}












/*Html-svg*/
#HtmlIcon .Hcls-1, #HtmlIcon .Hcls-2, #HtmlIcon .Hcls-3, #HtmlIcon .Hcls-4 {
  transition-duration: 1s;
  cursor: pointer;
}

#HtmlIcon:hover .Hcls-1 {
  fill: var(--Hcolor);
}

#HtmlIcon:hover .Hcls-2 {
  fill: var(--bgc);
  stroke: var(--bgc);
}

#HtmlIcon:hover .Hcls-3 {
  fill: var(--Hcolor);
  stroke: none;
}

#HtmlIcon:hover .Hcls-4 {
  stroke: var(--Hcolor);
  fill: var(--bgc);
}








/*css-svg*/
#CssIcon .Ccls-1, #CssIcon .Ccls-2, #CssIcon .Ccls-3, #CssIcon .Ccls-4 {
  transition-duration: 1s;
  cursor: pointer;
}

#CssIcon:hover .Ccls-1 {
  fill: #215EC6;
}

#CssIcon:hover .Ccls-2 {
  fill: #F2F2ED;
  stroke: #F2F2ED;
}

#CssIcon:hover .Ccls-3 {
  fill: #215EC6;
  stroke: none;
}

#CssIcon:hover .Ccls-4 {
  stroke: #215EC6;
  fill: #F2F2ED;
}



     


/*Js-svg*/
#JsIcon .Jcls-1, #JsIcon .Jcls-2, #JsIcon .Jcls-3, #JsIcon .Jcls-4 {
  transition-duration: 1s;
  cursor: pointer;
}

#JsIcon:hover .Jcls-1 {
  fill: var(--Jcolor);
}

#JsIcon:hover .Jcls-2 {
  fill: var(--bgc);
  stroke: var(--bgc);
}

#JsIcon:hover .Jcls-3 {
  fill: var(--Jcolor);
  stroke: none;
}

#JsIcon:hover .Jcls-4 {
  stroke: var(--Jcolor);
  fill: var(--bgc);
}




/*scroll-animation*/
.mouseArea {
  width: 100vw;
  position: relative;
  bottom: 200px;
  
}

.mouseArea > .mouse {
  text-align: center;
  width: 42px;
  height: 73px;
  position: relative;
  left: calc(50% - 25px);
  background: #c8c8c8 
              linear-gradient(transparent 0%,
                              transparent 50%,
                              var(--black) 50%,
                              var(--black) 100%);
  background-size: 100% 200%;
  border-radius: 100px;
  animation: colorSlide 5s linear infinite,
             nudgeMouse 5s ease-out infinite;
}

.mouse:before, .mouse:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.mouse:before{
  width: 36px;
  height: 67px;
  background-color: var(--bgc);
  border-radius: 100px;
}

.mouse:after{
  background-color: var(--black);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  animation: trackBallSlide 5s linear infinite;
}

.mouseArea > .text {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 12px;
  color: #c8c8c8;
  text-indent: 12px;
  animation: colorText 5s ease-out infinite,
             nudgeText 5s ease-out infinite;
}

@keyframes colorSlide{
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #c8c8c8;
  }
  29.99% {
    background-color: var(--black);
    background-position: 0% 0%;
  }
  30% {
    background-color: #c8c8c8;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #c8c8c8;
  }
  59% {
    background-color: var(--black);
    background-position: 0% 0%;
  }
  60% {
    background-color: #c8c8c8;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #c8c8c8;
  }
  90%, 100% {
    background-color: var(--black);
  }
}

@keyframes colorText{
  21% {
    color: #c8c8c8;
  }
  30% {
    color: var(--black);
  }
  51% {
    color: #c8c8c8;
  }
  60% {
    color: var(--black);
  }
  81% {
    color: #c8c8c8;
  }
  90% {
    color: var(--black);
  }
} 

@keyframes trackBallSlide{
  0%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60%{
    opacity: 1;
    transform: scale(0.9) translateY(-20px);
  }
  66%{
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74%{
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79%{
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100%{
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}

@keyframes nudgeMouse{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(8px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(8px);
  }
  90%{
    transform: translateY(0);
  }
}

@keyframes nudgeMouse{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(8px);
  }
  30%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(8px);
  }
  60%{
    transform: translateY(0);
  }
  80%{
    transform: translateY(8px);
  }
  90%{
    transform: translateY(0);
  }
}







#HtmlArticle .TextTyping {
  font-size: 10rem;
  letter-spacing: .1em;
  color: var(--Hcolor);
}




.swiperSection  {
  margin: 100px 10px 0 10px;

}

.container {
  position: relative;
  width: 100%;
  height: 550px;
}

.swiper {
  width: 100%;
}

.ItemWrap{
  margin-top: 50px;
}

.Item {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.Item-Title {
  font-size: 1rem;
  color: var(--black);
  text-align: start;
}

.Item-sentens {
  font-size: 1rem;
  line-height: 1.4em;
  color: var(--black);
  text-align: center;
  padding: 50px 0 0 0;
  border-top: solid 3px var(--bgc);
}

.Item-more {
  font-size: 0.8rem;
  text-align: end;
  color: var(--black);
  padding: 20px 0 0 0;
}

.Item-more a {
  position: relative;
}

#Html-swiperSection .Item-more a:hover {
  color: var(--Hcolor);
}

.Item-more a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 100%;
    height: 2px;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

#Html-swiperSection .Item-more a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
  background:var(--Hcolor);
}


.swiper-pagination {
  position: relative;
  bottom: 70px;
}



/*HtmlArticle-search*/

.search {
  margin-top: 100px;
}

.search-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.search-btn {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 140px;
  padding: 10px 0 10px 25px;
  color: var(--black);
  transition: 0.3s ease-in-out;
}

.search-btn::before, .search-btn::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
}

.search-btn::before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px var(--bgc);
  border-right: solid 2px var(--bgc);
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}


#Html-search .search-btn::after {
  left: 0;
  background-color: var(--Hcolor);
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}



.search-btn h3 {
  position: relative;
  left: 1rem;
  transition: all 0.3s;
  z-index: 3;
}

.search-btn:hover h3 {
  color: #fff;
}

.search-btn:hover::before {
  left: 2rem;
}

#Html-search .search-btn:hover::after {
  right: 0;
  width: 120%;
}


/*Html-item1-list*/
#Html-item1-list {
  margin-top: 32px;
  display: none;
}

#Html-item1-list.active {
  display: block;
}

.category-list{
  display: flex;
  flex-wrap: wrap;
}

.category-list li {
  padding: 10px 15px;
  border: solid 0.5px var(--black);
  border-radius: 20px;
  margin: 10px 20px 0 0;
  opacity: 0.3;
  cursor: pointer;
}

.category-list li:hover {
  opacity: 0.6;
  background-color: var(--black);
  color: var(--bgc);
}

#Html-item2-list {
  margin-top: 32px;
  display: none;
}

#Html-item2-list.active {
  display: block;
}





/*要素・属性*/

#Html-item1-ListItem, #Html-item2-ListItem {
  display: none;
}

#Html-item1-ListItem.on, #Html-item2-ListItem.on {
  display: block;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list > li {
  display: none;
  padding: 10px 15px;
  margin-top: 10px;
  opacity: 0.3;
  cursor: pointer;
}


/*--------------------------------------------------------*/



/*colum-section*/

.column {
  margin: 100px auto 0 auto;
  height: 570px;
  width: 90vw;
  overflow: hidden;
  overflow-y: scroll;
}



.column > ul > li {
  display: flex;
  width: 80vw;
  height: 150px;
  padding: 10px 0 0 30px;
  border-radius: 20px;
  margin: 30px auto 0 auto;
  box-shadow: 5px 5px 7px -3px #717171;
  background-color: #fafaf5;
}

.column > ul > li:hover {
  transform: scale(1.04);
} 

.column > ul > li > .main {
  width: 180px;
  height: 90%;
  text-align: center;
  border-radius: 10px;
}

#Html-column > ul > li > .main {
background-color: #f8ddca;
}

#tableColumn > .main > img{
  width: 100px;
  height: 100px;
}

#sentenceColumn > .main > img {
  width: 100px;
  height: 100px;
  padding: 10px 0;
}

#fontCooperativeColumn > .main > img {
  width: 100px;
  height: 100px;
}

#linkColumn > .main > img {
  width: 100px;
  height: 100px;
}

#listMenuColumn > .main > img {
  width: 100px;
  height: 100px;
  padding: 10px 0;
}

#pictureColumn > .main > img {
  width: 100px;
  height: 100px;
  padding: 10px 0;
}

#formColumn > .main > img {
  width: 100px;
  height: 100px;
  padding: 10px 0;
}

.column > ul > li > h3 {
  font-size: 1.2rem;
}



.column > ul > li > .sub {
  width: calc(100% - 180px);
  height: 90%;
  padding-right: 20px;
  margin-left: 20px;
  text-align: left;
}

.sub > .sub-list {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.sub > .sub-list > li {
  width: auto;
  padding-top: 5px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
}


.sub > .sub-list > li > h4 {
  padding-bottom: 3px;
  border-bottom: solid 2px #cdcdcd;
  margin-bottom: 4px;
  font-size: 1rem;
}

.sub > .sub-list > li > p {
  color: #9f9f9f;
  font-size: 0.9rem;
}







/*CSS-article*/
#CssArticle .TextTyping {
  font-size: 10rem;
  letter-spacing: .1em;
  color: var(--Ccolor);

}



/*Css-swiper*/
#Css-swiperSection .Item-more a:hover {
  color: var(--Ccolor);
}

#Css-swiperSection .Item-more a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
background:var(--Ccolor);
}




/*Css-searchBtn*/
#Css-search .search-btn h3 {
  left: 2rem;
}


#Css-search .search-btn::after {
  left: 0;
  background-color: var(--Ccolor);
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}

#Css-search .search-btn:hover::after {
  right: 0;
  width: 130%;
}


/*Css-item1-list, Css-item2-list*/
#Css-item1-list {
  margin-top: 32px;
  display: none;
}

#Css-item1-list.active {
  display: block;
}

#Css-item2-list {
  margin-top: 32px;
  display: none;
}

#Css-item2-list.active {
  display: block;
}


/*Css-プロパティ・疑似クラス*/
#Css-item1-ListItem, #Css-item2-ListItem {
  display: none;
}

#Css-item1-ListItem.on, #Css-item2-ListItem.on {
  display: block;
}



/*Css-column*/
#Css-column > ul > li > .main {
  background-color: #b4c9ee;
  }
#colorColumn > .main > img{
  width: 100px;
  height: 100px;
}

#fontColumn > .main > img{
  width: 100px;
  height: 100px;
  padding: 10px 0;
}

#backgroundColumn > .main > img{
  width: 100px;
  height: 100px;
}

#displayFlexColumn > .main > img{
  width: 100px;
  height: 100px;
}

#gridColumn > .main > img{
  width: 100px;
  height: 100px;
}




/* ■ Js ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#JsArticle {
  width: 100%;
}

#JsArticle .TextTyping {
  font-size: 9rem;
  letter-spacing: .1em;
  color: var(--Jcolor);
}

/*Js-swiper*/
#Js-swiperSection .Item-more a:hover {
  color: var(--Jcolor);
}

#Js-swiperSection .Item-more a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
background:var(--Jcolor);
}


 

/*Js-summarize*/

#JsSummarize {
  width: 100%;
  text-align: center;
}

.summarize  .swiper .swiper-slide .slide-item  img {
  width: 180px;
  height: 180px;
}

.summarize .swiper-slide {
  opacity: .5;
  pointer-events: none;

}

.summarize .swiper-slide-active, 
.summarize .swiper-slide-next, 
.summarize .swiper-slide-prev {
  opacity: 1;
  pointer-events: all;
}

.summarize .swiper-slide-active:hover, 
.summarize .swiper-slide-next:hover, 
.summarize .swiper-slide-prev:hover {
  transform: translateY(-8px);
}

.summarize .swiper-slide-active::before {
  border: 5px solid var(--Jcolor);

}

.swiper-button-prev,
.swiper-button-next {
  width: 100px;
  height: 100px;
}



.swiper-button-prev {
  position: relative;
  top: 108px;
  right: -100px;
}

.swiper-button-next {
  position: relative;
  top: 30px;
  right: -130px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";

}

.swiper-button-prev::after {
  background-image: url(../image/arrow-left.svg);
  width: 100%;
  height: 100%;
}

.swiper-button-next::after {
  background-image: url(../image/arrow-right.svg);
  width: 100%;
  height: 100%;
}



/*■　footer　■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

footer {
  height: 300px;
  background-color: #d0c8a7;
}

#footerSection1 {
  height: 200px;

}

footer h1 {
  text-align: center;
  width: 100vw;
  position: relative;
}

footer h1 span {
  display: inline-block;
  font-size: 1.4rem;
  position: relative;
  top: 6px;
  padding: 0.25em 0.5em;
}

footer span::before,
footer span::after {
  border-bottom: 1px solid var(--black);
    content: '';
    margin: 0 3px;
    position: absolute;
    top: 50%;
    width: 120%;
}

span::before {
  right: 100%;
}

span::after {
  left: 100%;
}

footer > .swiper {
  width: 100%;
  height: 160px;
}


#footerSection1 .swiper-wrapper {
  transition-timing-function: linear;
}



footer img {
  height: 160px;
  width: auto;
}





/*
*{
  outline: 2px red solid;
}
*/









































